.metrics-details-container {
    background-color: #545454;
    background-size: cover;
    opacity: .5;
    width: 35%;
    .Search {
      display: flex;
      justify-content: space-between;
      height: 10%;
      margin: 0 0 0 3rem;
      .input-container {
        width: 72%;
        border-bottom: 2px solid lightgray;
        display: flex;
        .search-input {
          color: white;
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1.2rem;
          padding-top: 1.5rem;
        }
      }
      button {
        height: 100%;
        width: 20%;
        border: none;
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .RecentCache {
      color: white;
      height: 25%;
      text-align: left;
      font-size: calc(1rem + .25vw + .25vh);
      padding: 5% 0;
      margin: 0 3rem;
      border-bottom: 2px solid lightgray;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p {
        display: flex;
        align-items: center;
        height: 25%;
        // &:nth-child(1) {
        //   height: 10%;
        //   font-size: calc(.8rem + .25vw + .25vh);
        //   &:hover {
        //     cursor: default;
        //   }
        // }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .MetricsDetails {
      color: white;
      height: calc((60% - 1rem ) - (.08vw + .08vh));
      // margin: 3rem 3rem 2rem 3rem;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      border-bottom: 2px solid lightgray;
      font-size: 1.2rem;
      .metric {
        width: 50%;
        margin: 1rem 0;
        &:nth-child(even) {
          text-align: left;
        }
        &:nth-child(odd) {
          text-align: right;
          color: white;
          font-weight: 600;
        }
      }
      .metric-header {
        width: 100%;
        margin-bottom: 1.5rem;
        color: white;
        font-weight: 600;
      }
    }
  }
