.metrics-details-container {
    background-color: darkgrey;
    opacity: .5;
    width: 35%;
    .Search {
      display: flex;
      justify-content: space-between;
      height: 5.5rem;
      margin: 0 0 2rem 3rem;
      .input-container {
        width: 72%;
        border-bottom: 2px solid lightgray;
        display: flex;
        .search-input {
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1.2rem;
          padding-top: 1.5rem;
        }
      }
      button {
        height: 5.5rem;
        width: 5.5rem;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .RecentCache {
      height: 28%;
      margin: 3rem 3rem 2rem 3rem;
      text-align: left;
      font-size: 1.2rem;
      border-bottom: 2px solid lightgray;
      p {
        display: table;
        margin: 2rem 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .MetricsDetails {
      height: 42%;
      margin: 3rem 3rem 2rem 3rem;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      border-bottom: 2px solid lightgray;
      font-size: 1.2rem;
      .metric {
        width: 50%;
        margin: 1rem 0;
        &:nth-child(even) {
          text-align: left;
        }
        &:nth-child(odd) {
          text-align: right;
          color: white;
          font-weight: 600;
        }
      }
      .metric-header {
        width: 100%;
        margin-bottom: 1.5rem;
        color: white;
        font-weight: 600;
      }
    }
  }
